@import '../global.css';

.cardsContainer{
    width: 100%;
    background-color:var(--primary-color);
    position: relative;
    margin-top: 10px;
    padding: 28px;
    padding-bottom: 0;
    border: 2px solid var(--border-color);
}
.cardsContainer_top{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardsContainer_top-sortBy{
    height: 100%;
    width: 10em;
}
.cardsContainer_top-sortBy .small{
    border-radius: 4px;
}
.cardsContainer_top-cardsAmount{
    color: var(--light-gray);
    font-size: 15px;
}
@media (max-width:425px) {
    .cardsContainer_top-cardsAmount{
        display: none;
    }
    .cardsContainer_top-sortBy{
        width: 100%;
    }
}
.cardsContainer_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 20px;
    margin-top: 20px;
}