@import '../global.css';

.filterArea{
    margin-top: 10px;
}
@media (min-width:768px) {
    .filterArea{
        display: grid;
        grid-template-columns: 240px 1fr 261px;
        gap: 0 8px;
        grid-auto-rows: minmax(50px, auto);
    }
}
.filterArea_top-left,.filterArea_bottom-right{
    height: 50px;
    margin: 10px 0;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.filterArea_top-left .select{
    flex-basis: 80%;
    flex-grow: 1;
}
.filterArea_top-left button{
    flex-basis: 20%;
    flex-grow: 1;
    margin-left: 8px;
    font-size: 24px;
    border-radius: 4px;
    color: var(--font-color);
    outline: none;
    border: none;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
