@import '../global.css';

footer{
    width: 100%;
    top: 60px;
    height: fit-content;
    position: relative;
    background-color:var(--primary-color);
}
.footer_brandInfo{
    padding: 24px;
}
.footer_brandInfo-email{
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.footer_brandInfo-email img{
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}
.footer_brandInfo-email h4{
    font-size: 14px ;
    color: var(--light-gray);
}
.footer_brandInfo-review{
    margin: 40px auto;
    margin-bottom: 20px;
    width: fit-content;
    text-align: center;
    color: var(--light-gray);
    font-weight: 300;
    font-size: 12px;
}
.footer_brandInfo-review svg{
    margin-top: 5px;
    font-size: 20px;
    background-color: var(--green);
    padding: 2px;
}
.footer_brandInfo-review svg:nth-child(2n){
    margin-left: 2px;
}
h5{
    padding: 24px;
    text-align: center;
    margin: 0 auto;
    color: var(--light-gray);
}

@media (min-width:768px) {
    .footer_brandInfo{
        display: flex;
        flex-direction: row;
        max-width: 1248px;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: 0 24px;
        margin-top: 60px;
    }
    .footer_brandInfo-email{
        padding: 0;
        width: fit-content;
        margin: 0;
        border: none;
        text-align: left;
        align-items: flex-start;
    }
    .footer_brandInfo-email img{
        width: 200px;
    }
    .footer_brandInfo-review{
        margin: 0;
    }
    .footer_brandInfo-review{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .footer_brandInfo-review h4{
        order: 2;
        margin: 0;
        margin-left: 5px;
    }
    .footer_brandInfo-review svg{
        margin: 0;
    }
    h5{
        padding: 24px;
        text-align: center;
        margin: 0 auto;
        color: var(--light-gray);
        margin-top: 40px;
        font-size: 14px;
        font-weight: 400;
    }
}

@media (min-width:1248px) {
    .footer_brandInfo{
        padding: 0;
    }
}