main{
    width: 100vw;
    height: fit-content;
    /* background: linear-gradient(to bottom, #5762d5,#4c6085); */
    background-color: #36394c;
    position: relative;
    top: 4.5em;
    padding: 24px;
    color: #fff;
}

main .backgroundImage{
    width: 100%;
    height: auto;
    min-height: 20em;
    position: absolute;
    opacity: .04;
    top: 0;
    left: 0;
    z-index: 0;
}

.main_container{
    margin: 30px auto;
    max-width: 78em;
}

h1{
    font-size: 26px;
}
.flexbox{
    width: 100%;
    background-color: rgb(6, 23, 37);
    display: flex;
    flex-wrap: wrap;
}
.div2{
    background-color: #f43;
    width: 40em;
}