main{
    width: 98vw;
    height: fit-content;
    position: relative;
    top: 4.5em;
    padding: 24px;
    color: var(--font-color);
}

main .backgroundImage{
    width: 100%;
    height: auto;
    min-height: 20em;
    position: absolute;
    opacity: .04;
    top: 0;
    left: 0;
    z-index: 0;
}

.main_container{
    margin: 30px auto;
    max-width: 566px;

    @media (1024px < width) {
        max-width: 1260px;
    }
}

h1{
    font-size: 26px;
}
