@import '../global.css';

.burgerMenu{
    position: fixed;
    z-index: 50;
    background-color: #2b2c3c;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: -100%;
    animation: showUp .3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 normal forwards;
    
}
@keyframes showUp {
    100%{left:0;}
}

.burgerMenu_header{
    height: 4.5em;
    border-bottom: 3px solid rgba(76,96,133,.5);
    padding: 0 18px;
    display: flex;
    align-items: center;
}
.burgerMenu_header-closeIcon{
    color: var(--font-color);
    height: 25px;
    width: 25px;
}

.burgerMenu_header span{
    color: var(--font-color);
    font-size: 15px;
    margin-left: 10px;
}

.burgerMenu_sections-section{
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font-color);
    font-size: 13px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(76,96,133,.5);
}