.footerDropdown{
    width: 100%;
    padding: 18px 0px;
    border-bottom: 2px solid #4c6085;
    height: fit-content;
    color: #fff;
    font-size: 14px;
    max-width: 1248px;
    margin: 0 auto;
}
.footerDropdown_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}
.footerDropdown_bottom{
    margin-top: 15px;
    color: hsla(0,0%,100%,.75);
    transform: scaleY(0);
    animation: scaleY .3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 normal forwards;
}
@keyframes scaleY {
    100%{transform: scaleY(1);}
}
.footerDropdown_bottom li{
    margin-top: 10px;
}

@media (min-width:768px) {
    .footerDropdown{
        /* background-color: #1f3; */
        width: fit-content;
        border: none;
        padding: 0;
    }
}