@import '../global.css';

.footerDropdown{
    width: 100%;
    padding: 18px 0px;
    border-bottom: 2px solid var(--border-color);
    height: fit-content;
    color: var(--font-color);
    font-size: 14px;
    max-width: 1248px;
    margin: 0 auto;
}

.footerDropdown_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.chevron-up {
    rotate: 180deg;
}

.footerDropdown_bottom{
    margin-top: 15px;
    color: var(--light-gray);
    max-height: 0;
    overflow: hidden;
    animation: scaleY 3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 normal forwards; 
}
@keyframes scaleY {
    100% {max-height: 10000px;}
}
.footerDropdown_bottom li{
    margin-top: 10px;
    cursor: pointer;
    
}
.footerDropdown_bottom li:hover{
    text-decoration: underline;
}

@media (min-width:768px) {
    .footerDropdown{
        width: fit-content;
        border: none;
        padding: 0;
    }
}