@import '../global.css';

.socials{
    @media (768px <= width <= 1024px) {
        position: absolute;
        top: 140px;
    }
}

.socials_links{
    width: 100%;
    max-width: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    margin: 0 auto;
}
@media (min-width:1024px) {
    .socials_links{
        justify-content: flex-start;
    }
}
.socials_links span{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #4a53b5;
}

.link{
    height: 20px;
    width: 20px;
    font-size: 20px;
}