@import '../global.css';

.socials{
    width: 100%;
    padding: 0 24px;
}
.socials_links{
    border-bottom: 2px solid var(--border-color);
    width: 100%;
    max-width: 1248px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    margin: 0 auto;
}
@media (min-width:1024px) {
    .socials_links{
        justify-content: flex-start;
    }
}
.socials_links span{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    cursor: pointer;
}

.facebook{
    background-color: #3b5999 !important;
}
.insta{
    background-image: url(https://grocurv.com/media/images/Insta_g7k2Rr9.height-480.jpg);
    background-size: cover;
}
.twitter{
    background-color: #32a3cd;
}
.discord{
    background-color: #7289d7;
}
.link{
    height: 20px;
    width: 20px;
    font-size: 20px;
}